.app {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: lightgrey;
}
button {
  padding: 10px;
  background-color: #ffbc42;
  border: none;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
